# ======================
# Java / Spring Boot
# ======================
target/
*.class
*.jar
*.war
*.log

# ======================
# IDE files
# ======================
.idea/
*.iml
.vscode/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Maven
# ======================
.mvn/
mvnw
mvnw.cmd

# ======================
# Application secrets
# ======================
application.properties
application.yml

# ======================
# Logs
# ======================
logs/